//colors
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;
$color-gray-light: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;
$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;
$color-white: #FFF;
$color-black: #000;
$color-black-light: rgb(51, 47, 47);

//grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-s: 6rem;
$gutter-horizontal: 4rem;

//default fontsize 

$font-default: 1.6rem;